---
Checks: "-*,\

misc-misplaced-const,\
bugprone-return-const-ref-from-parameter,\
readability-non-const-parameter,\
readability-const-return-type,\
readability-make-member-function-const,\
avoid-const-params-in-decls,\
move-const-arg,\
cppcoreguidelines-pro-type-const-cast,\
cppcoreguidelines-avoid-const-or-ref-data-members,\
portability-std-allocator-const,\
bugprone-unused-return-value,\

readability-qualified-auto,\
modernize-use-auto,\

performance-unnecessary-value-param,\
cppcoreguidelines-rvalue-reference-param-not-moved,\
readability-redundant-function-ptr-dereference,\
readability-reference-to-constructed-temporary,\
bugprone-forwarding-reference-overload,\
bugprone-multi-level-implicit-pointer-conversion,\
bugprone-move-forwarding-reference,\
bugprone-pointer-arithmetic-on-polymorphic-object,\
readability-delete-null-pointer,\
readability-container-data-pointer,\
cppcoreguidelines-misleading-capture-default-by-value,\
modernize-pass-by-value,\
readability-avoid-return-with-void-value,\

readability-container-size-empty,\
modernize-replace-auto-ptr,\
bugprone-optional-value-conversion,\
readibility-container-data-pointer,\
readibility-container-contains,\
performance-inefficient-algorithm,\

readability-redundant-smartptr-get,\
readability-uniqueptr-delete-release,\
readability-redundant-function-ptr-dereference,\
modernize-use-nullptr,\
misc-uniqueptr-reset-release,\
bugprone-unique-ptr-array-mismatch,\
bugprone-shared-ptr-array-mismatch,\

readability-convert-member-functions-to-static,\
readability-enum-initial-value,\
bugprone-unused-raii,\
bugprone-forwarding-reference-overload,\
cppcoreguidelines-avoid-do-while,\
cppcoreguidelines-avoid-goto,\
cppcoreguidelines-init-variables,\
cppcoreguidelines-misleading-capture-default-by-value,\
cppcoreguidelines-virtual-class-destructor,\
cppcoreguidelines-special-member-functions,\
misc-unused-using-decls,\
misc-unused-parameters,\
misc-unconventional-assign-operator,\
misc-static-assert,\
misc-redundant-expression,\
misc-non-copyable-objects,\
misc-confusable-identifiers,\
modernize-deprecated-headers,\
bugprone-use-after-move,\
"

WarningsAsErrors: '*'
FormatStyle: file
SystemHeaders: false
