BasedOnStyle: Google
AlignAfterOpenBracket: BlockIndent
SortIncludes: Never
SpaceBeforeCpp11BracedList: true
TabWidth: 4
IndentWidth: 4
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false
ColumnLimit: 192
