# build directory
build/

# caches
/.vs
/scripts/__pycache__
imgui.ini

# clang tidy
tidy_results/report.txt

# binary files
engine/assets/shaders/bin
editor_save.json
profiler_settings.json
Folder.DotSettings.user
.format_cache.json
/projects/game/assets
/.idea/editor.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/misc.xml
/.idea
