# build directory
build/

# caches
/.vs
/scripts/__pycache__
imgui.ini

# clang tidy
tidy_results/report.txt

# binary files
engine/assets/shaders/bin
editor_save.json
profiler_settings.json
Folder.DotSettings.user
/projects/game/assets
