[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog
[submodule "extern/glm"]
	path = extern/glm
	url = https://github.com/g-truc/glm
[submodule "extern/entt"]
	path = extern/entt
	url = https://github.com/skypjack/entt
[submodule "extern/graphite"]
	path = extern/graphite
	url = https://github.com/mxcop/graphite
	branch = thermite-engine
[submodule "extern/nlohmann_json"]
	path = extern/nlohmann_json
	url = https://github.com/nlohmann/json
[submodule "extern/JsonReflect"]
	path = extern/JsonReflect
	url = https://github.com/Sven-vh/JsonReflect
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "extern/tracy"]
	path = extern/tracy
	url = https://github.com/wolfpld/tracy
[submodule "extern/zlib"]
	path = extern/zlib
	url = https://github.com/madler/zlib
[submodule "extern/ImReflect"]
	path = extern/ImReflect
	url = https://github.com/Sven-vh/ImReflect
[submodule "extern/imgui-node-editor"]
	path = extern/imgui-node-editor
	url = https://github.com/littlemine/imgui-node-editor
[submodule "extern/msdf-atlas-gen"]
	path = extern/msdf-atlas-gen
	url = https://github.com/Chlumsky/msdf-atlas-gen.git
[submodule "extern/freetype"]
	path = extern/freetype
	url = https://github.com/freetype/freetype
[submodule "extern/libpng"]
	path = extern/libpng
	url = https://github.com/pnggroup/libpng
