# build directory
build/

# caches
/.vs
/scripts/__pycache__
imgui.ini

# clang tidy
tidy_results/report.txt

# binary files
engine/assets/shaders/bin
editor/assets/editor_save.json
editor/assets/profiler_settings.json
